.App {
  text-align: center;
}

.header {
  margin: 5% auto;
}

.logo {
  width: 75px;
  vertical-align: bottom;
}

.label {
  font-weight: 700 !important;
}

.button {
  background-color: #6e93e5;
  border: none;
}

.button:hover {
  background-color: #3c63b8;
}
